<!DOCTYPE html>
<html>
<head>
  <title>Autopark</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">CGN AutoPark</a>
    <ul id="nav-mobile" class="right side-nav">
      <li><a href="/users">Users</a></li>
      <li><a href="/vehicles">Vehicles</a></li>
    </ul>
    <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>

<%= yield %>

</body>
</html>
